@charset "UTF-8";
:root {
  --fore-color: #111;
  --back-color: #fff;
  --secondary-fore-color: #444;
  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;
  --heading-ratio: 1.19;
  --universal-border-radius: .4rem;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

html {
  font-size: 16px;
  font-family: Roboto, Ubuntu, helvetica neue, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--fore-color);
  background: var(--back-color);
}

.container {
  margin: 0 auto;
  padding: 0 calc(1.5 * var(--universal-padding));
}

h1 {
  line-height: 1.2;
  margin: calc(1.5 * var(--universal-margin)) var(--universal-margin);
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));
}

p {
  margin: var(--universal-margin);
}

:root {
  --button-fore-color: #9b4dca;
  --button-secondary-fore-color: #606c76;
  --input-back-color: #f8f8f8;
  --input-fore-color: #111;
  --input-border-color: #ddd;
  --input-focus-color: #0288d1;
  --input-invalid-color: #d32f2f;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: var(--button-fore-color);
  border: 0.1rem solid var(--button-fore-color);
  border-radius: var(--universal-border-radius);
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

input,
button {
  display: inline-block;
  height: auto;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 99%;
  margin: calc(var(--universal-margin) / 2);
  padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: var(--button-secondary-fore-color);
  border-color: var(--button-secondary-fore-color);
  color: #fff;
  outline: 0;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  color: var(--button-fore-color);
}

.button.button-outline:focus, .button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
  background-color: transparent;
  border-color: var(--button-secondary-fore-color);
  color: var(--button-secondary-fore-color);
}

.button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
  border-color: inherit;
  color: var(--button-fore-color);
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-fore-color);
}

.centered__box {
  align-items: center;
  border: 5px solid yellow;
  margin: 0 auto;
  padding: calc(var(--universal-padding));
  height: auto;
  width: 25%;
}