<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Verification Success</title>
  <style th:href="@{/css/dashboard.css}" rel="stylesheet"></style>
  <script type="text/javascript">
    function loginScreen() {
      alert("Dit is een voorbeeld");
    }
  </script>
</head>
<body>
<div class="container centered__box">
  <h1>Success!</h1>
  Please go to the login page to continue!

  See you soon!

  <button onclick="loginScreen();">Back To Login!</button>
</div>
</body>
</html>