@charset "UTF-8";
:root {
  --fore-color: #111;
  --secondary-fore-color: #444;
  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;
  --heading-ratio: 1.19;
  --universal-border-radius: .4rem;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

html {
  font-size: 16px;
  font-family: Roboto, Ubuntu, helvetica neue, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--fore-color);
  background: var(--back-color);
}

.container {
  margin: 0 auto;
  padding: 0 calc(1.5 * var(--universal-padding));
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: calc(1.5 * var(--universal-margin)) var(--universal-margin);
  font-weight: 500;
  text-align: center;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: var(--secondary-fore-color);
  display: block;
  margin-top: -0.25rem;
  text-align: center;
}

h1 {
  font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));
}

h2 {
  font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));
}

h3 {
  font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio));
}

h4 {
  font-size: calc(1rem * var(--heading-ratio));
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: calc(1rem / var(--heading-ratio));
}

p {
  margin: var(--universal-margin);
}

img {
  width: 100%;
  height: auto;
}

:root {
  --button-fore-color: #9b4dca;
  --button-secondary-fore-color: #606c76;
  --input-back-color: #f8f8f8;
  --input-fore-color: #111;
  --input-border-color: #ddd;
  --input-focus-color: #0288d1;
  --input-invalid-color: #d32f2f;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: var(--button-fore-color);
  border: 0.1rem solid var(--button-fore-color);
  border-radius: var(--universal-border-radius);
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

input,
button {
  display: inline-block;
  height: 5%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 99%;
  margin: calc(var(--universal-margin) / 2);
  padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: var(--button-secondary-fore-color);
  border-color: var(--button-secondary-fore-color);
  color: #fff;
  outline: 0;
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
  cursor: default;
  opacity: .5;
}

.button[disabled]:focus, .button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover {
  background-color: var(--button-fore-color);
  border-color: var(--button-fore-color);
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  color: var(--button-fore-color);
}

.button.button-outline:focus, .button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
  background-color: transparent;
  border-color: var(--button-secondary-fore-color);
  color: var(--button-secondary-fore-color);
}

.button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
  border-color: inherit;
  color: var(--button-fore-color);
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-fore-color);
}

.button.button-clear:focus, .button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-secondary-fore-color);
}

.button.button-clear[disabled]:focus, .button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover {
  color: var(--button-fore-color);
}

input:not([type]),
[type=text],
[type=email],
[type=number],
[type=search],
[type=password],
[type=url],
[type=tel],
[type=checkbox],
[type=radio],
textarea,
select {
  box-sizing: border-box;
  background: var(--input-back-color);
  color: var(--input-fore-color);
  border: 0.0625rem solid var(--input-border-color);
  border-radius: var(--universal-border-radius);
  margin: calc(var(--universal-margin) / 2);
  padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
}

input:not([type=button]):not([type=submit]):not([type=reset]):hover,
input:not([type=button]):not([type=submit]):not([type=reset]):focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border-color: var(--input-focus-color);
  box-shadow: none;
}

input:not([type=button]):not([type=submit]):not([type=reset]):invalid,
input:not([type=button]):not([type=submit]):not([type=reset]):focus:invalid,
textarea:invalid,
textarea:focus:invalid,
select:invalid,
select:focus:invalid {
  border-color: var(--input-invalid-color);
  box-shadow: none;
}

input:not([type=button]):not([type=submit]):not([type=reset])[readonly],
textarea[readonly],
select[readonly] {
  background: var(--secondary-back-color);
}

label {
  font-weight: bold;
}

.centered__box {
  top: 50%;
  border: 5px solid yellow;
  margin: calc(1.5 * var(--universal-margin)) var(--universal-margin);
  padding: calc(var(--universal-padding));
  height: auto;
}

.centered__text {
  text-align: center;
}

.error__text {
  color: red;
  font-weight: bold;
}

/* For tablets: */
@media only screen and (min-width: 768px) {
  .col-md,
  [class^=col-md-],
  [class^=col-md-offset-],
  .row[class*=cols-md-] > * {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 calc(var(--universal-padding) / 2)
  }

  .col-md,
  .row.cols-md > * {
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0
  }

  .col-md-1,
  .row.cols-md-1 > * {
    max-width: 8.33333%;
    flex-basis: 8.33333%
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-2,
  .row.cols-md-2 > * {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-3,
  .row.cols-md-3 > * {
    max-width: 25%;
    flex-basis: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-4,
  .row.cols-md-4 > * {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-5,
  .row.cols-md-5 > * {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-6,
  .row.cols-md-6 > * {
    max-width: 50%;
    flex-basis: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-7,
  .row.cols-md-7 > * {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-8,
  .row.cols-md-8 > * {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-9,
  .row.cols-md-9 > * {
    max-width: 75%;
    flex-basis: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-10,
  .row.cols-md-10 > * {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-11,
  .row.cols-md-11 > * {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-12,
  .row.cols-md-12 > * {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .col-md-normal {
    order: initial;
  }

  .col-md-first {
    order: -999;
  }

  .col-md-last {
    order: 999;
  }
}

/* For desktop: */
@media only screen and (min-width: 1280px) {
  .col-lg,
  [class^=col-lg-],
  [class^=col-lg-offset-],
  .row[class*=cols-lg-] > * {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 calc(var(--universal-padding) / 2);
  }

  .col-lg,
  .row.cols-lg > * {
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-lg-1,
  .row.cols-lg-1 > * {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-2,
  .row.cols-lg-2 > * {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-3,
  .row.cols-lg-3 > * {
    max-width: 25%;
    flex-basis: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-4,
  .row.cols-lg-4 > * {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-5,
  .row.cols-lg-5 > * {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-6,
  .row.cols-lg-6 > * {
    max-width: 50%;
    flex-basis: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-7,
  .row.cols-lg-7 > * {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-8,
  .row.cols-lg-8 > * {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-9,
  .row.cols-lg-9 > * {
    max-width: 75%;
    flex-basis: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-10,
  .row.cols-lg-10 > * {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-11,
  .row.cols-lg-11 > * {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-12,
  .row.cols-lg-12 > * {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lg-normal {
    order: initial;
  }

  .col-lg-first {
    order: -999;
  }

  .col-lg-last {
    order: 999;
  }
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/*
The columns inside a row are all floating to the left,
and are therefore taken out of the flow of the page,
and other elements will be placed as if the columns do not exist.
To prevent this, we will add a style that clears the flow:
 */
.row::after {
  content: "";
  clear: both;
  display: table;
}